/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
 }

.biglogo {
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 20px;
}


.title {
    background-image: url(/images/landing.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 90px 0px 90px;
}

.title p {
    font-weight: light;
    font-style: normal;
}

h2 {
    border-bottom: 2px solid #00B172;
    display: inline-block;
}

.title2 {
    text-align: center;
}

.Spotify-explanation img {
    height: 75px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Spotify-explanation h3 {
    color: #00B172;
}

.Spotify-explanation {
    text-align: center;
}

.example {
    background-color: #00B172;
}

.Music {
    width: 250px;
}

.HDMusic {
    width: 250px;
}

.stream {
    width: 250px;
}

.example {
    margin: 20px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container2 img {
    width: 100px;
    align-items: center;

}

.container1 {
    width: 400px;
}

.container3 img {
    height: 400px;
}

